


</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						
					
						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">

									<li><a href="{{ path('userpanel_edit') }}"> <span class="pull-right">(56)</span>Düzenle</a></li>
									<li><a href="{{ path('orders_index') }}"> <span class="pull-right">(27)</span>Siparişlerim</a></li>
									<li><a href="{{ path('shopcart_index') }}"> <span class="pull-right">(32)</span>Sepetim</a></li>

									<li><a href="{{ path('logout') }}"> <span class="pull-right">(4)</span>Çıkış</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						
					
					</div>
				</div>